<!DOCTYPE html>
<html lang="en" ng-app="stockTable">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="papaparse.min.js"></script>
    <script src="main.js"></script>
<!--     <script defer src="csvParser.js"></script> -->
    <link rel="stylesheet" href="main.css">
    <title>Angular 1.7.9</title>
</head>
<body ng-init>
    <div ng-controller="tableController">
        <h1 id="start">Angular version 1.7.9 custom sort</h1>
        <div>
            <input type="file" select-ng-file ng-model="stockData" accept=".csv" />
            <!-- select-ng-file is custom directive, links data back via 
            ng-model="stockData" which is further used in the table below -->
        </div> 
        <label for="searchBox">Sök: <input type="text" name="searchBox1" id="searchBox" ng-model="filterText" ></label>      
        <table>
            <thead>
                <tr>
            <!-- track by $index is used because ng-repeat does not allow duplicate keys -->
                    <th ng-repeat="head in stockHead track by $index" ng-click="sortData(head)"> 
                        {{head}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="body in stockData | filter:filterText">
                    <td ng-repeat="(key, val) in body">
                        {{body[key]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>