<!DOCTYPE html>
<html lang="en" ng-app="stockTable">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="papaparse.min.js"></script>
    <script src="main.js"></script>
<!--     <script defer src="csvParser.js"></script> -->
    <link rel="stylesheet" href="main.css">
    <title>Angular 1.7.9</title>
</head>
<body ng-init>
    <div ng-controller="tableController">
        <h1>Angular version 1.7.9</h1>
        <div>
            <input type="file" select-ng-file ng-model="stockData" accept=".csv" />
            <!-- select-ng-file is custom directive, links data back via ng-model="stockData"
                 which is further used in the table below -->
        </div> 
        <label for="searchBox">Sök: <input type="text" name="searchBox1" id="searchBox" ng-model="filterText" ></label>      
        <table>
            <thead>
                <tr>
            <!-- track by $index is used because ng-repeat does not allow duplicate keys -->
                    <th ng-repeat="head in stockHead track by $index" ng-click="sortData(head)"> 
                        {{head}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="body in stockData | filter:filterText | orderBy: sortedColumn: reverseOrder">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        {{body.Bolagsnamn}}
                    </td>
                    <td>
                        {{body.Land}}
                    </td>
                    <td>
                        {{body.Lista}}
                    </td>
                    <td>
                        {{body.Sektor}}
                    </td>
                    <td>
                        {{body.Bransch}}
                    </td>
                    <td>
                        {{body.Ticker}}
                    </td>
                    <td>
                        {{body.Instrument}}
                    </td>
                    <td>
                        {{body.Rapport}}
                    </td>
                    <td>
                        {{body.Kursutveckling}}
                    </td>
                    <td>
                        {{body.Direktavkastning}}
                    </td>
                    <td>
                        {{body.PE}} <!-- column renamed because of conflict with the orderBy logic -->
                    </td>
                    <td>
                        {{body.PS}}
                    </td>
                    <td>
                        {{body.PB}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>